// dark overrides
.body--dark {
    .bg-primary,
    .q-layout__section--marginal {
        background-color: $primary-dark !important;
    }

    .bg-secondary {
        background-color: $secondary-dark !important;
    }

    .bg-accent {
        background-color: $accent-dark !important;
    }

    .q-drawer {
        border: none;
    }
}
