// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #6846c4;
$secondary: #958cac;
$accent: #bf7e94;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #4df574;
$negative: #ff5449;
$info: #4ecbe4;
$warning: #f2c037;

$primary-dark: darken($primary, 12);
$secondary-dark: darken($secondary, 12);
$accent-dark: darken($accent, 12);
